* {
    box-sizing: border-box;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%)
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    max-width: 650px;
    background-color: #fff;
    height: 100%;
    padding: 35px 35px 20px 35px;
    border-radius: 15px;

}

figure {
    display: block;
    width: 100%;
    margin: 0 auto;
}

figure > img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.section-title > h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 500;
}

.section-title > h2 {
    color: hsl(14, 45%, 36%);
}

.prepation-time {
    padding: 20px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

.prepation-time > h2 {
    color: hsl(332, 51%, 32%);
}

.prepation-time > ul {
    list-style: none;
}

.prepation-time > ul > li::marker {
    color: hsl(332, 51%, 32%);
}

.prepation-time > ul {
    list-style: disc;
    padding-left: 1.5rem;
}

.prepation-time > ul > li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.prepation-time > h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0;
}

.ingredients > ul{
    list-style: none;
}

.ingredients > ul > li::marker {
    color: hsl(14, 45%, 36%);
}

.ingredients > ul {
    list-style: disc;
    padding-left: 24px;
}

.ingredients > ul > li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.instructions > ol{
    list-style: none;
}

.instructions > ol > li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.instructions > ol {
    list-style: decimal;
    padding-left: 24px;
}

.instructions > ol > li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    line-height: 1.5rem;
}

.section-title > h1 {
    font-size: 2.2rem;
    color: hsl(24, 5%, 18%);
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 0;
}

.section-title > p {
    margin-bottom: 30px;
}

p, li {
    font-size: 0.9rem;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td{
    text-align: left;
    padding: 15px 0;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

th {
    font-weight: normal;
    padding-left: 30px;
}

td {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    padding-right: 25px;
}